{% load static %}
{%load bootstrap4%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
   <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/vs.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --> -->
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Instagram</title>

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}

</head>

<body>
  <header>
    <div class="nav">
      <div class="logo">
        <a href="/" class="ig"><i class="fa fa-instagram"></i></a>
        <a class="verticle" href="/"></a>
        <a href="/">Instagram</a>
      </div>
      <form action="{% url 'gram:search_posts'%}">
      <div class="search">
        
          <input type="text" placeholder="search" name="user">
        <a href="{% url 'gram:search_posts'%}">
          <button><i class="fa fa-search"></i></a></button>
</form>

<div class="col-sm-6 col-md-6" >
  {% if user.is_authenticated %}
  <ul>
    <li>
      <a href="{% url 'gram:update'%}">{{user.username}}
                <span class="caret"></span>
            </a>
      <ul class="dropdown-menu" role="menu">
        
        <li>
          <a href="/gram/templates/gram/create.html">Create Article</a>
        </li>

        <li>
          <a href="/accounts/password/change">Change Password</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
  {% else %}
  <li>
    <a class='btn btn-default' href="/accounts/login">Login</a>
  </li>

  {% endif %}
</div>
      </div>
      <div class="icons">
        <!-- <a href="" class="compass"><i class="fa fa-compass"></i></a>
        <a href="{% url 'gram:createPost'%}" class="compass"><i class="fa fa-plus"></i></a> -->
        <a href="{% url 'gram:createPost'%}" class="compass"><i class="fa fa-compass"></i></a>
        <a href="/" class="heart"><i class="fa fa-heart"></i></a>
        <a href="{% url 'gram:profile'%}" class="profile"><i class="fa fa-user"></i></a>

      </div>
    </div>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <hr>
  

  <div class="content">
    {%block content%}
    {% endblock%}
  </div>

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="path/to/boostrap.min.js"></script>

  {% bootstrap_javascript %}
{% endblock %}


  
</body>

</html>