
{%extends 'gram/base.html'%}
{% load bootstrap4%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Instagram</title>
</head>
<body>
    {%block content%}
  <h1>Create Post</h1>
  
<div class='panel panel-default' style="width: 400px; margin: auto;">
  <div class="panel-body">
    {%crispy form%}
    {%csrf_token%}
  </div>

</div>

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %} {% endblock %}


</body>
</html>