{%extends 'gram/base.html'%}
{% load bootstrap4%}

{%block content%}

<div class="row">

  <div class="col-md-6">
    <div class="ppic">
      <img src="{{user.profile.profile_photo.url}}" alt="">
    </div>
  </div>
  <div class="col-md-6">
    <h3>{{user.username}}</h3>
    <button><a href="{% url 'gram:update'%}" style="text-decoration: none;">EDIT PROFILE</a></button>
    <a href="{% url 'gram:update'%}"><i class="fa fa-cog" style='color:black;font-size: 30px;'></i></a>
    <div class="profile_media">
      <span class="post_count"> <span class="number_of_posts">{{ user.posts.count }}</span> posts </span>
      <a href=""> <span class="number_of_followers"> {{ user.profile.followed_by.count }}</span> followers</a>
      <a href=""> <span class="number_of_follows"> {{ user.profile.follows.count }} </span> following</a>
    </div>
    <div>
      <p class="profilename">{{ user.profile.name }}</p>
      <p class="text-secondary">{{ user.profile.bio|linebreaks }}</p>
    </div>
    <div class="profileicons" style="color: black;">

      <a href="#posts"><i class="fa fa-calendar"></i>
        POSTS
      </a>
      <a href="#igtv"><i class="fa fa-tv"></i>
        IGTV

      </a>
      <a href="#saved"><i class="fa fa-bookmark"></i>
        SAVED
      </a>


      <a href="#tagged"><i class="fa fa-user"></i>
        TAGGED
      </a>

    </div>
  </div>

</div>


<br>
<hr>

  <div class="row">

{% for image in images %}
<div class="col-md-3">
    <div class="card-column" >
      <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap" style="width: 250px; height: 250px;">
      <div class="card-body">
       {% autoescape on %}
       <h5 class="card-title">{{image.caption | safe}}</h5>
   {% endautoescape %}
        <!-- <h5 class="card-title">{{image.caption}}</h5> -->
        <i class="fa fa-heart "></i>
        <a href="{% url 'gram:comment' image.id %}" class="btn btn-outline-info btn-sm">comments</a>
        

      </div>
    </div>
  
  </div>

{% endfor %}



</div>

{% endblock %}