<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Instagram</title>
</head>

<body>
  <header>
    <div class="nav">
      <div class="logo">
        <a href="/"><i class="fab fa-instagram"></i></a>
        <a class="verticle" href="/"></a>
        <a href="/">Instagram</a>
      </div>
      <div class="search">
        <input type="text" placeholder="search">
        <a href=""><i class="far fa-search"></i></a>

      </div>
      <div class="icons">
        <a href="/" class="compass"><i class="far fa-compass"></i></a>
        <a href="/" class="heart"><i class="far fa-heart"></i></a>
        <a href="/" class="profile"><i class="far fa-user"></i></a>

      </div>
    </div>
  </header>
</body>

</html>